.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 220px;
  background-color: #0A1C3D;
  padding: 2em 1em;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  flex-direction: column;
  display: flex;
  gap: 1em;
  visibility: hidden;
  opacity: 0;
}

.hamburger-menu.show {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}
.hamburger-button {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
}

.hamburger-menu a {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

}

@media (max-width: 768px) {
  .hamburger-button {
    display: block;
  }

}
