/*
 src/main/frontend/themes/hero-pruebas.css
*/
.hs-pru{
padding:10px;
 border: 3px solid #f0f0f0; /* Tu borde */
  border-radius: 10px; /* Redondea las 4 esquinas con un radio de 10 píxeles */
   margin-bottom: 20px;
   margin-top: 20px;

}

/* ###############   HS 2  ############### */
.hs2 {

 background-image: url('./images/herosection1.png');
 background-image: url('./images/Display_simple_compose.png');
  background-image: url('./images/Gemini_tablet.png');
   background-image: url('./images/sora-mano-icono-tablet.png');

background-image: url('images/gpt-teclado-icono-mano.png');
 background-image: url('images/sora-m-i-t.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex; /* clave */
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;


}

.hs2-content {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.3); /* opcional: fondo semitransparente */
  padding: 2em;
  border-radius: 12px;

      background-color: #000000;
      opacity: 0.50;
      mix-blend-mode: luminosity;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.hs2-content h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color:white;
}

.hs2-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}


/* ###############   HS 3  ############### */
.hs3 {


 background-image: url('./images/herosection1.png');
 background-image: url('./images/Display_simple_compose.png');
  background-image: url('./images/Gemini_tablet.png');


background-image: url('images/gpt-teclado-icono-mano.png');
 background-image: url('images/sora-m-i-t.png');
 background-image: url('./images/g-mit1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex; /* clave */
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;


}

.hs3-content {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.3); /* opcional: fondo semitransparente */
  padding: 2em;
  border-radius: 12px;

      background-color: #000000;
      opacity: 0.50;
      mix-blend-mode: luminosity;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.hs3-content h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color:white;
}

.hs3-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/*************************************/
.cta-button {
  background-color: #1F6BFF;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.8em 1.5em;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.cta-button:hover {
  transform: scale(1.03);
}
