/*
 src/main/frontend/themes/hero-pruebas.css
*/
.hs-pru{
padding:10px;
 border: 3px solid #f0f0f0; /* Tu borde */
  border-radius: 10px; /* Redondea las 4 esquinas con un radio de 10 p铆xeles */
   margin-bottom: 20px;
   margin-top: 20px;

}

/* ###############   HS 1  ############### */
.hs1 {
    background-image: url('images/gpt-imagenCompleta.png');
    background-size: cover;        /* Abarca todo el div */
    background-position: center;   /* Centra la imagen */
    background-repeat: no-repeat;  /* No repite la imagen */
    width: 100%;

    height: 100vh; /*  Opci贸n 1: ocupa toda la altura visible de la pantalla */
    /* height: auto; */ /*  Opci贸n 2 (comentada): se ajusta a la altura del contenido */


}

.hs1 h1{
    color:violet;
    color:orange;
color: #32CD32; /* Verde lima */
 color: #FF00FF; /* Magenta vibrante */
color: #99f6e4; /* Verde menta claro */
color: #00eaff; /* Celeste brillante */
 color: #66f2ff; /* Celeste suave */

 color: #ff66cc; /* Fucsia claro */


 color: #00ff99; /* Verde agua vibrante */
color: #FF4500; /* Naranja vibrante */
}


/* ###############   HS 2  ############### */

.hs2{
 background-image: url('images/Display_simple_compose.png');

   background-size: cover;        /* Abarca todo el div */
     background-position: center;   /* Centra la imagen */
     background-repeat: no-repeat;  /* No repite la imagen */
     width: 100%;

     height: 100vh; /*  Opci贸n 1: ocupa toda la altura visible de la pantalla */
     /* height: auto; */ /*  Opci贸n 2 (comentada): se ajusta a la altura del contenido */

}


/* ###############   HS 3  ############### */
.hs3{
 background-image: url('images/gpt-teclado-icono-mano.png');

   background-size: cover;        /* Abarca todo el div */
     background-position: center;   /* Centra la imagen */
     background-repeat: no-repeat;  /* No repite la imagen */
     width: 100%;

     height: 100vh; /*  Opci贸n 1: ocupa toda la altura visible de la pantalla */
     /* height: auto; */ /*  Opci贸n 2 (comentada): se ajusta a la altura del contenido */

}


/* ###############   HS 4 ############### */
.hs4{
 background-image: url('images/hero-escritorio.png');

   background-size: cover;        /* Abarca todo el div */
     background-position: center;   /* Centra la imagen */
     background-repeat: no-repeat;  /* No repite la imagen */
     width: 100%;

     height: 100vh; /*  Opci贸n 1: ocupa toda la altura visible de la pantalla */
     /* height: auto; */ /*  Opci贸n 2 (comentada): se ajusta a la altura del contenido */

}